<div class="contenedor" style="background-color: white;">
    <div class="row">
        <div class="col-md" style="text-align: center;">
            <h1 style="background-color: #C6E0B4;padding-top: 1rem;padding-bottom: 1rem;">
                GAD VENTANAS DASHBOARD ALCALDE
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div fxLayout="row wrap" style="margin-top: 2rem;">
                <!-- Column-->
                <div fxFlex.gt-xs="100" fxFlex="100">
                    <mat-card>
                        <mat-card-content>
                            <mat-card-title>Ingresos</mat-card-title>
                            <canvas baseChart height="150px" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" [colors]="barChartColors" (chartClick)="chartClicked($event)">
                            </canvas>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div fxLayout="row wrap" style="margin-top: 2rem;">
                <!-- Column-->
                <div fxFlex.gt-xs="100" fxFlex="100">
                    <mat-card>
                        <mat-card-content>
                            <mat-card-title>Ingresos</mat-card-title>
                            <canvas baseChart height="150px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" [colors]="[{backgroundColor: ['rgb(22, 152, 109)', 'rgb(255, 235, 59)', '#fdddca', '#e5b468']}]"></canvas>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div fxLayout="row wrap" style="margin-top: 2rem;">
                <!-- Column-->
                <div fxFlex.gt-xs="100" fxFlex="100">
                    <mat-card>
                        <mat-card-content>
                            <mat-card-title>Ingresos</mat-card-title>
                            <canvas baseChart height="150px" [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" [colors]="radarChartColors">
                            </canvas>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="responsive-table">
                <mat-table #table [dataSource]="dataSource">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element" style="justify-content: left;">
                            <span class="header-label">Position:</span>
                            <strong style="font-weight: bold;">{{element.position}}</strong>
                        </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="header-label">Name:</span>
                            {{element.name}}
                        </mat-cell>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="header-label">Weight:</span>
                            {{element.weight}}
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>

            <div class="responsive-table">
                <mat-table #table [dataSource]="dataSource2">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef style="font-size: revert;"><strong>Presupuesto Anual</strong> </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="header-label">Position:</span>
                            {{element.position}}
                        </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef style="font-size: revert;"><strong>Disponible $USD</strong> </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="header-label">Name:</span>
                            {{element.name}}
                        </mat-cell>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                        <mat-header-cell *matHeaderCellDef style="font-size: revert;"><strong>Disponible %</strong> </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="header-label">Weight:</span>
                            {{element.weight}}
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
                </mat-table>
            </div>

            <div class="responsive-table">
                <mat-table #table [dataSource]="dataSource3">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef style="font-size: revert;"><strong>Presupuesto destinado a programas</strong> </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="header-label">Position:</span>
                            {{element.position}}
                        </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef style="font-size: revert;"><strong> $USD</strong> </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="header-label">Name:</span>
                            {{element.name}}
                        </mat-cell>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                        <mat-header-cell *matHeaderCellDef style="font-size: revert;"><strong> %</strong> </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="header-label">Weight:</span>
                            {{element.weight}}
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns3"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns3;"></mat-row>
                </mat-table>
            </div>

            <div class="responsive-table" style="overflow-y: hidden;">
                <table mat-table [dataSource]="dataSourcex" multiTemplateDataRows class="mat-elevation-z8">
                    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplayx">
                        <th mat-header-cell *matHeaderCellDef style="font-size: revert;"> <strong>{{column}}</strong> </th>
                        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                    </ng-container>

                    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayx.length">
                            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                <div class="example-element-diagram">
                                    <div class="example-element-position">Edad: {{element.edad}} </div>
                                    <div class="example-element-name">Fecha de Nacimiento: {{element.fechaNacimiento}} </div>
                                </div>
                                <div class="example-element-description">
                                    Personas a cargo: {{element.personas}}
                                    <span class="example-element-description-attribution"></span>
                                </div>
                                <div class="example-element-description">
                                    Telefono: {{element.telefono}}
                                    <span class="example-element-description-attribution"></span>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsToDisplayx"></tr>
                    <tr mat-row *matRowDef="let element; columns: columnsToDisplayx;" class="example-element-row" [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div fxLayout="row wrap" style="margin-top: 2rem;">
                <!-- Column-->
                <div fxFlex.gt-xs="100" fxFlex="100">
                    <mat-card>
                        <mat-card-content>
                            <mat-card-title>Ingresos</mat-card-title>
                            <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" [colors]="[{backgroundColor: ['rgb(22, 152, 109)', 'rgb(255, 235, 59)', '#fdddca', '#e5b468']}]">
                            </canvas>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div fxLayout="row wrap" style="margin-top: 2rem;">
                <!-- Column-->
                <div fxFlex.gt-xs="100" fxFlex="100">
                    <mat-card>
                        <mat-card-content>
                            <mat-card-title>Ingresos</mat-card-title>
                            <canvas baseChart height="150px" [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [legend]="polarAreaLegend" [chartType]="polarAreaChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" [colors]="[{backgroundColor: ['rgb(22, 152, 109)', 'rgb(255, 235, 59)', '#fdddca', '#e5b468']}]">
                            </canvas>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div fxLayout="row wrap" style="margin-top: 2rem;">
                <!-- Column-->
                <div fxFlex.gt-xs="100" fxFlex="100">
                    <mat-card>
                        <mat-card-content>
                            <mat-card-title>Ingresos</mat-card-title>
                            <canvas baseChart height="150" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                            </canvas>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>